<style scoped>
.item {
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  min-height: 80px;
}

.item:hover {
  cursor: pointer;
}

.item-labels {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}

.item-labels > li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.item-labels > li > span {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  margin: 3px;
}

#titleInput {
  width: 99%;
  height: 30px;
  font-size: 20px;
}

#titleText {
  width: 99%;
  height: 300px;
}

.wisteria-flat-button {
  position: relative;
  vertical-align: top;
  min-width: 60px;
  width: 200px;
  height: 40px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #8e44ad;
  border: 0;
  border-bottom: 2px solid #80399d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #80399d;
  box-shadow: inset 0 -2px #80399d;
}

.wisteria-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

</style>

<template>
  <div id="base">
    <button class="wisteria-flat-button" v-on:click.prevent="showAddItem = true">New item</button>

    <modal :show.sync="showAddItem">

      <h3 slot="header">Add new item</h3>

      <div slot="body">
        <label for="titleInput">Title:
          <input id="titleInput" type="text" v-model="newItem.title">
        </label>

        <label for="titleText">Description:
          <textarea id="titleText" v-model="newItem.text"></textarea>
        </label>

        <label>Labels:
          <ul class="item-labels">
            <li v-for="filter in filters" v-on:click="addLabel($index)">
              <span v-if="newItem.labels.indexOf($index) > -1" v-bind:style="{background: filter.color}">{{filter.name}}</span>
              <span v-else v-bind:style="{color: filter.color}">{{filter.name}}</span>
            </li>
          </ul>
        </label>

        <label>Weight:
          <input type="number" min="0" max="100" value="50">
        </label>
      </div>

      <div slot="footer">
        <input type="submit" class="wisteria-flat-button" value="Add item" v-on:click.prevent="saveItem">
      </div>

    </modal>

    <div class="item" v-for="item in items | filterBy activeLabels() in 'labels'" v-on:click="fireSelectedItem($index)">
      <h4>{{item.title}}</h4>
      <p>{{item.text}}</p>

      <ul class="item-labels" v-if="item.labels.length > 0">
        <li v-for="labelId in item.labels" track-by="$index">
          <span v-bind:style="{background: filters[labelId].color}">
            {{filters[labelId].name}}
          </span>
        </li>
      </ul>

    </div>
  </div>
</template>

<script>
import Modal from '../widgets/modal'

export default {

  components: {
    Modal
  },
  data () {
    return {
      newItem: {
        title: '',
        text: '',
        labels: [],
        weight: 10
      },
      showAddItem: false,
      items: JSON.parse(window.localStorage.getItem('items'))
    }
  },
  init () {
    if (!window.localStorage.getItem('items')) {
      window.localStorage.setItem('items', JSON.stringify([
        {title: 'item 1', text: 'asd', labels: [0, 1], weight: 20},
        {title: 'item 2', text: 'asdasd', labels: [1, 2], weight: 30},
        {title: 'item 3', text: 'asdasdasd', labels: [2, 3], weight: 40}
      ]))
    }
  },
  created () {
    this.fireSelectedItem(0)
  },
  props: {
    filters: {
      type: Array
    }
  },
  methods: {
    fireSelectedItem (index) {
      this.$dispatch('detailItem', this.items[index])
    },
    addLabel (index) {
      if (this.newItem.labels.indexOf(index) === -1) {
        this.newItem.labels.push(index)
      } else {
        this.newItem.labels.$remove(index)
      }
    },
    saveItem () {
      if (this.newItem.title.lenght === 0) {
        return false
      }

      if (this.newItem.text.lenght === 0) {
        return false
      }

      if (this.newItem.weight < 0) {
        return false
      }

      this.items.push(this.newItem)
      window.localStorage.setItem('items', JSON.stringify(this.items))

      this.newItem = {
        title: '',
        text: '',
        labels: [],
        weight: false
      }

      this.showAddItem = false
    },
    activeLabels () {
      let filterBy = []

      let activeFilters = this.filters.filter(function (filter) {
        return filter.active === true
      })

      for (let filter of activeFilters) {
        filterBy.push(this.filters.indexOf(filter))
      }

      return filterBy
    }
  }
}
</script>
