<style>
  #item {
    width: 98%;
    padding: 10px;
  }

  #itemBody {
    width: 99%;
  }
</style>

<template>
  <div id="item">
    <h1>{{item.title}}</h1>
    <div id="itemBody" v-html="item.text | marked"></div>
  </div>
</template>

<script>
import marked from 'marked'

export default {
  props: {
    item: {
      type: Object,
      default () {
        return {
          title: 'Please select a item from the left to view details.',
          text: '# hello'
        }
      }
    }
  },
  filters: {
    marked: marked
  }
}

</script>
