<style scoped>

  #labelsForm {
      background-color: #FFF;
      margin: 10px;
      padding: 20px;
  }

  #labelsFormCancel {
    font-size: 14px;
    color: #CCC;
    cursor: pointer;
  }

  #prettyColorsWrapper {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }
  .prettyColor {
    padding: 5px;
    margin: 3px;
    float: left;
    width: 80px;
    cursor: pointer;
  }

  #prettyFilters {
    padding: 10px;
    margin: 0;
    text-align: center;
    list-style: none;
  }

  #prettyFilters > li {
    display: block;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }

  #prettyFilters > li > a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    margin: 3px;
  }

  #prettyFilters > li > a:hover {
    cursor: pointer;
    background-color: #000;
  }

  #manageFilters {
    cursor: pointer;
  }

  #formButtons {
    float: right;
    margin-bottom: 20px;
    height: 40px;
  }

  .wisteria-flat-button {
    position: relative;
    vertical-align: top;
    min-width: 60px;
    width: 200px;
    height: 40px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #8e44ad;
    border: 0;
    border-bottom: 2px solid #80399d;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #80399d;
    box-shadow: inset 0 -2px #80399d;
  }

  .wisteria-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
</style>

<template>
  <div id="labelsWrapper">

    <modal :show.sync="showModal">
      <h3 slot="header">Add a new filter</h3>

      <div slot="body" id="labelsForm">
        <label>Label:<input type="text" v-model="newLabelName"></label>
        <label>Color: <input type="color" v-model="newLabelColor"></label>

        <div id="prettyColorsWrapper">
          <span
            class="prettyColor"
            v-for="color in selectableColors"
            v-bind:style="{backgroundColor: color}"
            v-on:click.prevent="setLabelColor(color)"
          >{{color}}</span>
        </div>
      </div>

      <div id="formButtons" slot="footer">
        <a id="labelsFormCancel" v-on:click.prevent="showModal = false">cancel</a>
        <input class="wisteria-flat-button" type="submit" v-on:click.prevent="saveNewLabel">
      </div>
    </modal>

    <ul id="prettyFilters">
      <li v-for="label in labels" v-on:click="dispatchSelectedLabel($index)">
        <a v-if="label.active === true" v-bind:style="{backgroundColor: label.color}">{{label.name}}</a>
        <a v-else v-bind:style="{color: label.color}">{{label.name}}</a>
      </li>

      <li id="manageFilters" v-on:click="showModal = true">+ Add Filter</li>
    </ul>

  </div>

</template>

<script>
  import prettyColors from '../libs/prettyColors'
  import Modal from '../widgets/modal'

  export default {

    components: {
      Modal
    },

    data () {
      return {
        labels: JSON.parse(window.localStorage.getItem('labels')),
        newLabelName: '',
        newLabelColor: '',
        filterForm: false,
        selectableColors: prettyColors,
        showModal: false
      }
    },

    init () {
      if (!window.localStorage.getItem('labels')) {
        window.localStorage.setItem('labels', JSON.stringify([
          {name: 'example label 1', color: '#FF8C00', active: false},
          {name: 'example label 2', color: '#7FFFD4', active: false},
          {name: 'example label 3', color: '#8A2BE2', active: false},
          {name: 'example label 4', color: '#6B8E23', active: false}
        ]))
      }
    },

    created () {
      return this.$dispatch('labels', this.labels)
    },

    methods: {

      setLabelColor (color) {
        this.newLabelColor = color
      },

      saveLabels () {
        window.localStorage.setItem('labels', JSON.stringify(this.labels))
        this.newLabelName = ''
        this.newLabelColor = ''
      },

      saveNewLabel () {
        if (!this.newLabelName && !this.newLabelColor) {
          return false
        }

        this.labels.push({
          name: this.newLabelName,
          color: this.newLabelColor,
          active: false
        })

        this.saveLabels()

        return true
      },

      dispatchSelectedLabel (labelIndex) {
        this.labels[labelIndex].active = !this.labels[labelIndex].active
        this.saveLabels()
        this.$dispatch('labels', this.labels)
      }

    }
  }
</script>
