<style>
html, body, #appBody {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
}

#filters {
  display: inline-block;
  float: left;
  width: 15%;
  height: 100%;
  overflow-x: auto;
  margin: 0;
  background-color: #2c3e50;
}

#items {
  display: inline-block;
  float: left;
  width: 30%;
  height: 100%;
  overflow-x: auto;
  margin: 0;
  background-color: #95a5a6;
}

#itemDetails {
  display: inline-block;
  float: left;
  width: 55%;
  height: 100%;
  overflow-x: auto;
  margin: 0;
  background-color: #ecf0f1;

}
</style>

<template>
  <div id="appBody">
    <div id="filters">
      <labels></labels>
    </div>
    <div id="items">
      <items v-bind:filters="labels"></items>
    </div>
    <div id="itemDetails">
      <item-detail v-bind:item.sync="currentItem"></item-detail>
    </div>
  </div>
</template>

<script>
import labels from './components/Labels.vue'
import items from './components/Items.vue'
import itemDetail from './components/ItemDetail.vue'

export default {
  components: {
    labels,
    items,
    itemDetail
  },
  data () {
    return {
      labels: [],
      currentItem: {}
    }
  },
  events: {
    labels: function (labels) {
      this.labels = labels
    },
    detailItem (currentItem) {
      this.currentItem = currentItem
    }
  }
}

</script>
