<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>v-tasks</title>
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
      <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
    <link href="/assets/forms.css" rel="stylesheet">
  </head>

  <body>
    <app></app>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
      <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
  </body>

</html>
